:root {
  --color1: rgb(22, 22, 22);
  --color2: white;
  --color3: rgb(184, 233, 255);
  --button-width-fraction: 0.9;
}

#addprojectinput,
#addproject,
#addclientinput {
  display: none;
}

#addprojectinput {
  font-size: larger;
}

body {
  background-color: var(--color1);
  color: var(--color2);
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(181, 250, 153, 0.4);
  /* Black w/ opacity */
  backdrop-filter: blur(1px);
}

/* Modal Content */

.modal-content {
  background-color: #6d6d6d;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

#firebaseui-auth-container {
  position: relative;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, 0%); */
  padding: 2rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#timer,
#projectbtn {
  color: var(--color3);
  text-align: center;
  font-size: 7vw;
  width: 100%;
  /* margin: 8vh; */
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  height: 10vw;
}

.inactive {
  color: rgb(133, 133, 133) !important;
}

button {
  background-color: rgba(255, 255, 255, 0.137);
  color: rgb(184, 233, 255);
  border-radius: 0.2rem;
  border-style: none;
}

#navbar {
  position: relative;
  height: 1rem;
  /* padding: 0.5rem; */
}

#navbar button {
  font-size: large;
}

#bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

#logoutbtn {
  /* #invoicebtn { */
  float: right;
  position: relative;
  display: inline-block;
}

#settingsbtn {
  /* #enterhoursbtn { */
  float: left;
  position: relative;
  display: inline-block;
}

#projectbtn {
  font-size: 4vw;
}

.projectselectbtns {
  background-color: rgba(181, 250, 153, 0.4);
  border-style: solid;
  width: 40%;
  padding: 1rem;
}

.projectselectbtns:hover {
  background-color: rgb(188, 228, 206);
}

table {
  color: rgb(163, 212, 204);
  background-color: rgb(58, 58, 58);
  padding: 1rem;
  width: 100%;
}

#tagline {
  color: rgb(212, 212, 212);
  text-align: center;
}

#timer:hover,
#projectbtn:hover {
  /* background-color: rgb(99, 99, 99); */
  border-style: solid;
  border-color: var(--color3);
  border-radius: 20px;
  cursor: pointer;
}

#timerstop span {
  width: 100%;
  height: 100%;
}

#timer:hover span {
  display: none;
}

#timer:hover:before {
  content: "STOP";
  color: rgb(204, 109, 109);
}

:focus {
  outline: none;
  background-color: rgb(220, 255, 220);
}

#key {
  display: none;
}

#title {
  color: rgb(207, 248, 195);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  float: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
